// _animation-zoom.scss

@mixin animation-zoom ($duration: 700ms) {
	& {
		animation-direction: normal;
		animation-iteration-count: 1;
		animation-duration: $duration;
		animation-fill-mode: forwards;
		z-index: 20;
		opacity: 0;
	}

	&.selected {
		animation-name: animation-zoom-in;
	}

	&.last-selected {
		animation-name: animation-zoom-out;
	}
}

@keyframes animation-zoom-in {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes animation-zoom-out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(2);
	}
}

